@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/Identity/Account/Login"><button class="btn btn-primary">Login</button></a>
    <a href="/Users/Create">
        <button class="btn btn-secondary">Sign up</button>
    </a>
</div>
