@model Backoffice.Dtos.UserCreationDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
           <label asp-for="Role" class="control-label">Role</label>
            <div class="form-control">
                <label>
                    <input type="radio" asp-for="Role" value="Guide" />
                    Guide
                </label>
                <label>
                    <input type="radio" asp-for="Role" value="Member" />
                    Member
                </label>
            </div>
            <span asp-validation-for="Role" class="text-danger"></span>

            @*<label asp-for="Speciality" class="control-label">Speciality</label>
            <div class="form-control">
                <label>
                    <input type="radio" asp-for="Speciality" value="Electrical" />
                    Electrical
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Technological" />
                    Technological
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Plumbing" />
                    Plumbing
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Construction" />
                    Construction
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Carpentry" />
                    Carpentry
                </label>
            </div>*@
          
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
  

    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
