@model Backoffice.Dtos.EditUserDto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            
            <label asp-for="Role" class="control-label">Role</label>
            <div class="form-control">
                <label>
                    <input type="radio" asp-for="Role" value="Worker" />
                    Worker
                </label>
                <label>
                    <input type="radio" asp-for="Role" value="PublicUser" />
                    PublicUser
                </label>
            </div>
            <span asp-validation-for="Role" class="text-danger"></span>
           
                @*<label asp-for="Speciality" class="control-label">Speciality</label>
                <div class="form-control">
                    <label>
                    <input type="radio" asp-for="Speciality" value="Electrical" />
                    Electrical
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Technological" />
                    Technological
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Plumbing" />
                    Plumbing
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Construction" />
                    Construction
                </label>
                <label>
                    <input type="radio" asp-for="Speciality" value="Carpentry" />
                    Carpentry
                </label>
            </div>*@

            <div class="form-group">
                <input type="submit" value="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>


    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
